.color {
    border: black solid 1px;
    width: 80px;
    height: 80px;
    display: inline-block;
}
.azul {
    background-color: blue;
}
.vermelho {
    background-color: red;
}
.verde {
    background-color: green;
}
.roxo {
    background-color: purple;
}